h1 {
  color: #d8f266;
  font-weight: 700;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 1.2em;
}
i {
  margin: auto;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  margin: 0;
  height: fit-content;
}
div {
  box-sizing: border-box;
  display: block;
}
#background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  display: block;
}
#overview1 {
  max-height: 150px;
  overflow: auto;
  display: block;
}
#overview3 {
  max-height: 150px;
  overflow: auto;
  display: none;
}
#overview2 {
  margin-bottom: 4px;
  display: block;
}
#cover {
  box-sizing: border-box;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(20px);
  opacity: 0.35;
  background-attachment: scroll;
}
.poster {
  box-sizing: border-box;
  text-align: center;
  display: inline;
  padding: 20px;
  margin: 0;
  overflow: visible;
  margin-top: 20px;
}
.poster img {
  width: 100%;
  height: 100%;
}
.details {
  width: auto;
  text-align: left;
  box-sizing: border-box;
  display: inline;
  margin: 0;
  overflow: visible;
  padding-bottom: 20px;
}
.anime {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  overflow: visible;
  height: fit-content;
}
section img {
  box-sizing: border-box;
  height: fit-content;
  max-width: 200px;
  border: 5px solid #fff;
  border-radius: 5px;
  margin: auto;
}
.mid {
  width: 100%;
  text-align: center;
}
.cbox {
  border: 1px #6d6d6d solid;
  color: #dfdfdf;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 2px 4px;
  border-radius: 4px;
}
.dot {
  box-sizing: border-box;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(255 255 255 / 0.3);
  display: inline-block;
  margin: 3px 6px;
}
.year {
  color: #dfdfdf;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 2px 4px;
}
.watch-btn {
  background: #ed3832;
  color: #000;
  border-radius: 4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
.synopsis {
  color: #fff;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  display: none;
}
#info {
  display: inline;
  margin: 0;
  text-align: left;
  vertical-align: middle;
  background: rgb(0 0 0 / 0.2);
  height: 100%;
  padding: 20px 10px;
}
.item-head {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-text-size-adjust: none;
  line-height: 1.4em;
  font-size: 13px;
  box-sizing: border-box;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 5px;
}
.item-des {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 100;
  -webkit-text-size-adjust: none;
  line-height: 1.4em;
  font-size: 13px;
  box-sizing: border-box;
}
.info-items {
  margin: 10px;
}
.genre {
  border-top: 1px solid rgb(255 255 255 / 0.1);
  border-bottom: 1px solid rgb(255 255 255 / 0.1);
  padding: 10px 0;
}
.genre a {
  border: 1px solid rgb(255 255 255 / 0.4);
  box-sizing: border-box;
  border-radius: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  display: inline-block;
  width: fit-content;
}
.col-3 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#watchh {
  margin: 30px 0 20px 0;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .details {
    width: calc(100% - 250px);
  }
  h1 {
    font-size: 28px;
  }
  .item-des,
  .item-head,
  .genre a {
    font-size: 15px;
  }
  .details {
    padding-top: 20px;
  }
  .mid {
    text-align: left;
  }
  #watchh {
    margin: 50px 0;
  }
  .overview {
    display: none;
  }
  .synopsis,
  #overview3 {
    display: block;
  }
  .item-des,
  .item-head,
  .genre a {
    font-size: 13px;
  }
  section img {
    box-sizing: border-box;
    height: fit-content;
    max-width: 300px;
    width: 100%;
    border: 5px solid #fff;
    border-radius: 5px;
    margin: auto;
  }
  .poster {
    box-sizing: border-box;
    text-align: center;
    display: inline;
    margin: 0;
    overflow: visible;
    margin-top: 20px;
    width: 250px;
  }
}
@media only screen and (min-width: 1200px) {
  .col-3 {
    width: 25%;
  }
  .col-6 {
    width: 50%;
  }
  h1 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
  }
  .details {
    padding-top: 40px;
  }
  .mid {
    text-align: left;
  }
  #watchh {
    margin: 50px 0;
  }
  .overview {
    display: none;
  }
  .synopsis,
  #overview3 {
    display: block;
  }
  .item-des,
  .item-head,
  .genre a {
    font-size: 13px;
  }
  #info {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255 / 0.1);
    padding-top: 30px;
    overflow: hidden;
  }
  .poster {
    box-sizing: border-box;
    text-align: center;
    display: inline;
    margin: 0;
    overflow: visible;
    margin-top: 20px;
    width: 300px;
  }
  section img {
    height: 100%;
    width: 100%;
  }
}
#watch {
  margin-top: 20px;
}
.divo {
  padding: 10px;
}
.divox {
  padding: 0;
}
.divo2 {
  background-color: #202125;
  padding: 20px 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
#latest {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}
#latest2 a {
  color: #fff;
  text-decoration: none;
}
#latest2 {
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: fit-content;
}
.ep-btn {
  padding: 10px 20px;
  background-color: #35373d;
  color: #999;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0 2px;
  margin-bottom: 10px;
  display: inline-block;
  width: 70px;
  text-align: center;
}
.la-anime {
  display: inline-block;
  padding: 0;
  margin: 0 3px;
  margin-bottom: 6px;
  position: relative;
  width: calc(50% - 20px);
  max-width: 200px;
}
.shadow {
  box-shadow: inset 0 -100px 50px -50px rgb(32 33 37);
  position: relative;
  height: 200px;
  z-index: 1;
}
#shadow1 {
  box-shadow: inset 0 -100px 50px -50px rgb(32 33 37);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
#shadow2 {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.shadow img {
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: unset;
  z-index: 1;
}
.dubb {
  color: #fff;
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  width: fit-content;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 2px 4px;
  z-index: 5;
}
.dubb2 {
  left: unset;
  right: 10px;
  background-color: #fff;
  color: #000;
}
.la-details {
  background-color: #202125;
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}
.la-details h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
  width: 100%;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
  height: fit-content;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #fff0;
  -webkit-text-size-adjust: none;
  list-style: none;
  box-sizing: border-box;
  height: 37px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#extra {
  text-align: left;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #fff0;
  -webkit-text-size-adjust: none;
  list-style: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.la-details span {
  color: rgb(255 255 255 / 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
#search-div {
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 25px;
  right: 10px;
}
#search-div input {
  height: 28px;
  background-color: #fff0;
  border: none;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  overflow: visible;
  font-family: "Montserrat", sans-serif;
  width: calc(100% - 27px);
}
#search-div button {
  background-color: #fff0;
  border: none;
  height: 40px;
  width: 20px;
}
#search-div button i {
  width: 16px;
  height: 16px;
  margin: 0;
}
#search-div form {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
#query {
  width: calc(100% - 55px);
  height: 40px;
}
#query:focus {
  border: none;
}
#title1RIP {
  height: fit-content;
  width: 70%;
}
@media only screen and (min-width: 420px) {
  .shadow {
    height: 240px;
  }
}
@media only screen and (min-width: 580px) {
  #search-div input {
    width: calc(100% - 55px);
  }
  .la-anime {
    max-width: 220px;
  }
  #title1RIP {
    height: fit-content;
    width: calc(100% - 50px);
    text-align: center;
  }
  #search-div {
    height: fit-content;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
  }
  #search-div input {
    height: 28px;
    background-color: #fff0;
    border: none;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    overflow: visible;
    font-family: "Montserrat", sans-serif;
  }
  #search-div button {
    background-color: #fff0;
    border: none;
    height: 40px;
    width: 40px;
  }
  #search-div button i {
    width: 16px;
    height: 16px;
    margin: 0;
  }
  #search-div form {
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
  #query {
    width: 200px;
    height: 40px;
  }
  #query:focus {
    border: none;
  }
  #title1RIP {
    height: fit-content;
    width: calc(100% - 247px);
    text-align: center;
  }
  #search-div {
    position: absolute;
    right: 0;
    top: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .la-anime {
    max-width: 220px;
  }
  #title1RIP {
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  #search-div {
    position: absolute;
    right: 0;
    top: 25px;
  }
}
#cover {
  background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx131516-kLB37ISBeOX0.jpg);
}
#comment_section {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
}
#disqus_thread {
  margin: auto;
  max-width: 700px;
}
#hr01 {
  width: 100%;
  margin: 20px 0;
}
.ep-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s;
  border: none;
}
.ep-title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  position: relative;
  bottom: 33px;
  color: rgb(237 241 245 / 0.91);
  background-color: rgb(31 38 49 / 0.7);
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
}
.ep-slide {
  height: 100px;
  width: 175px;
  margin: 0 10px;
  display: block;
  border-radius: 5px;
  border: 2px solid #fff;
  overflow: hidden;
}
.ep-slider {
  height: 100px;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}
.slider-carousel {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  scroll-behavior: smooth;
  user-select: none;
}
.prev,
.next {
  z-index: 5;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: rgb(0 0 0 / 0.7);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgb(0 0 0);
}
.slider-main {
  position: relative;
}
.ep-divo-upper {
  border: none;
  background-color: orange;
  margin: 5px 10px 10px 10px;
  padding: 10px 15px;
}
.ep-divo-upper option {
  width: 120px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ep-divo-lower {
  max-height: 320px;
  overflow-y: auto;
  background-color: unset;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  place-items: center;
  grid-gap: 10px;
  transition: all 0.5s linear;
}
.ep-divo-outer {
  background-color: #27272c;
  width: 90%;
  max-width: 770px;
  margin: 20px auto;
  border-radius: 5px;
  padding-top: 5px;
}
.ep-divo-outer section {
  display: flex;
  flex-direction: row;
}
.ep-btn {
  background-color: #454444;
  color: #fff;
  display: block;
}
.ep-divo-outer h2 {
  color: #fff;
  margin-left: 15px;
}
.ep-btn:hover {
  background-color: #7900eb;
}
/* #title1RIP {
  width: 70%;
  height: 86px;
}
#title1RIP a {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 580px) {
  #title1RIP img {
    height: 55px;
  }
} */
