#download,
#search-div input,
#showdl,
.btns,
.ep-btn,
.link-data button,
.scontent,
.sobtn,
.stitle {
  font-family: Montserrat, sans-serif;
}
#search-div button,
#search-div input {
  background-color: #fff0;
}
#video,
#video iframe,
.selector,
section {
  width: 100%;
}
#video,
.dldiv,
.ep-slide {
  overflow: hidden;
}

#body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #202125;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}



#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
#download,
#showdl {
  font-size: 16px;
  color: #fff;
}
#search-div input {
  height: 28px;
  border: none;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  overflow: visible;
  width: calc(100% - 27px);
}
#search-div button {
  border: none;
  height: 40px;
  width: 20px;
}
#search-div button i {
  width: 16px;
  height: 16px;
  margin: 0;
}
#search-div form {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
#query {
  width: calc(100% - 55px);
  height: 40px;
}
#query:focus {
  border: none;
}
i {
  margin: auto 10px auto auto;
}
.bg-indigo-500 {
  background-color: #3ab4f2;
}
.bg-indigo-500:hover {
  background-color: #0078aa;
}
.sbtn {
  background-color: #5bb318;
}
.sbtn:hover {
  background-color: #2b7a0b;
}
.link-data {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.link-data button {
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  border: none;
}
.fa-closed-captioning,
.fa-microphone,
.scontent b,
h2 {
  color: #d8f266;
}
#vid-sec {
  max-width: 1000px;
  margin: 0 auto;
}
#video {
  padding-top: 56.25%;
}
#vid-div {
  padding: 20px;
  justify-content: center;
  align-items: center;
}
#search-div {
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 25px;
  right: 10px;
}
@media only screen and (min-width: 580px) {
  #search-div {
    background-color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 25px;
  }
  #search-div input {
    width: calc(100% - 55px);
    height: 28px;
    padding-left: 15px;
  }
  #search-div button {
    width: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #title1 {
    height: fit-content;
    width: calc(100% - 50px);
    text-align: center;
  }
  #search-div {
    right: 0;
    top: 25px;
  }
}
.server {
  background-color: #202125;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#showdl,
.sobtn {
  background-color: #35373d;
}
.stitle {
  color: #fff;
  margin: 15px;
  width: 70px;
}
.slist {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
.sitem {
  margin: 10px 4px;
}
.sobtn {
  color: #ccc;
  padding: 8px 10px;
}
#download,
.ep-btn,
.scontent {
  font-weight: 400;
}
.sactive {
  color: #111;
  background-color: #d8f266;
}
.status {
  padding: 15px 0;
}
.scontent {
  color: #ccc;
  font-size: 12px;
}
.scontent b {
  margin: 5px 0;
}
* {
  transition: opacity 0.5s;
  box-sizing: border-box;
}
section {
  height: fit-content;
}
.divo {
  padding: 10px;
}
.divo2 {
  background-color: #202125;
  padding: 20px 10px 10px;
}
#showdl,
.ep-btn {
  padding: 10px 20px;
}
.ep-btn {
  font-size: 14px;
  margin: 0 2px 10px;
  width: 70px;
}
#dldiv,
.ep-title {
  text-align: left;
}
#comment_section,
#server_main,
#title1,
.ep-btn,
.scontent,
.selector {
  text-align: center;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXpsog.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXpsog.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
    format("woff2");
  unicode-range: U+037 0-03FF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
#download {
  margin: 10px 0;
}
.dldiv {
  opacity: 0;
  height: 0;
}
.show {
  height: auto;
  opacity: 1;
  transition: 1s ease-in;
}
#showdl {
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
}
#showdl i {
  color: #ff0;
}
#comment_section {
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
}
#disqus_thread {
  margin: auto;
  max-width: 700px;
}
#hr01 {
  margin: 20px 0;
}
.stitle p {
  display: inline;
}
.stitle {
  align-items: center;
}
.ep-slide img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: none;
}
.ep-title {
  font-size: 15px;
  font-weight: 700;
  bottom: 33px;
  color: rgb(237 241 245 / 0.91);
  background-color: rgb(31 38 49 / 0.7);
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
}
.ep-slide {
  height: 100px;
  width: 175px;
  margin: 0 10px;
  display: block;
  border-radius: 5px;
  border: 2px solid #fff;
}
.ep-slider {
  height: 100px;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}
.slider-carousel {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.next,
.prev {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: auto;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: rgb(0 0 0 / 0.7);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover,
.prev:hover {
  background-color: #000;
}
.ep-slider-playing {
  border-color: #b232ed;
}
.ep-slider-playing .ep-title {
  color: #c832ed;
  background-color: rgb(255 255 255 / 0.7);
}
.ep-divo-upper {
  border: none;
  background-color: orange;
  margin: 5px 10px 10px;
  padding: 10px 15px;
}
.ep-divo-upper option {
  width: 120px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ep-divo-lower {
  max-height: 320px;
  overflow-y: auto;
  background-color: unset;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  place-items: center;
  grid-gap: 10px;
  transition: 0.5s linear;
}
.ep-divo-outer {
  background-color: #27272c;
  width: 90%;
  max-width: 770px;
  margin: 20px auto;
  border-radius: 5px;
  padding-top: 5px;
}
.ep-divo-outer section {
  display: flex;
  flex-direction: row;
}
.ep-btn {
  background-color: #454444;
  color: #fff;
  display: block;
}
.ep-divo-outer h2 {
  color: #fff;
  margin-left: 15px;
}
.ep-btn-playing,
.ep-btn:hover {
  background-color: #a800eb;
}
#title1 {
  height: 86px;
  width: 100%;
  height: fit-content;
  width: calc(100% - 247px);
}
#title1 a {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 520px) {
  #title1 img {
    height: 55px;
  }
}
.ep-btn,
a {
  text-decoration: none;
}
.sobtn,
.stitle {
  font-weight: 600;
  font-size: 13px;
}
#vid-div,
.link-data,
.server,
.slist {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#video,
.ep-title,
.slider-main,
html,
section {
  position: relative;
}
#showdl,
.scontent b,
div {
  display: block;
}
#main-section,
.ep-slide img {
  transition: 0.5s;
}
#server_main {
  padding: 15px;
}
.btns {
  margin: 5px 10px;
}
.sbtn {
  margin: 10px;
}
