@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  font-family: "Open Sans", serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
  width: 100%;
  background-color: #14151a;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #a832ed;
  font-weight: 500;
  width: 100%;
  font-size: 20px;
  margin: 10px;
}

header {
  width: 100%;
}

#head-div {
  background: linear-gradient(to right, #6008a8 40%, #9216e6);
  width: 100%;
  text-align: center;
  height: 86px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: x-large;
  color: white;
}

footer {
  color: white;
  background: #881fc5;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer div {
  text-align: center;
}

footer a {
  color: #f7838d;
  text-decoration: underline;
  font-size: 11px;
  font-weight: 500;
}

@media only screen and (min-width: 400px) {
  footer a {
    font-size: 13px;
  }
}

@media only screen and (min-width: 600px) {
  footer a {
    font-size: 15px;
  }
}

#load {
  text-align: center;
  padding: 20px;
}

#load img {
  width: 5%;
  min-width: 40px;
  border: none;
}

.container {
  display: none;
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid #f0c6f5;
  border-radius: 5px;
  background-color: #fff;
}
.container h6 {
  color: #501c72;
  font-size: x-large;
}
.container p {
  margin-top: 20px;
  font-size: 18px;
}
.container a {
  color: #4b1c72;
  text-decoration: underline;
}

.container h1 {
  color: #611c72;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
